* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100px;
}

html,
body {
    width: 100%;
    height: 13.34rem;
    font-family: te;
    background: #252637;
}

@font-face {
    font-family: te;
    src: url("./../font/PingFang\ Medium.ttf")
}

.men_body {
    height: 1.29rem;
    overflow: hidden;
    background: #333752;
}

.men_top_box {
    margin-top: .55rem;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.men_top {
    width: .48rem;
    height: .48rem;
    position: absolute;
    top: .55rem;
    left: .2rem;
    /* border: 1px red solid; */
}

.men_top2 {
    width: .48rem;
    height: .48rem;
    position: absolute;
    top: .55rem;
    left: 6.6rem;
    /* border: 1px red solid; */
}

.men_top>a>img {
    width: .48rem;
    height: .48rem;
    position: absolute;
    top: .05rem;
    left: 0.03rem;
}

.men_top2>a>img {
    width: .48rem;
    height: .48rem;
    position: absolute;
    top: .05rem;
    left: 0.03rem;
}

.men_top_p {
    color: #fff;
    font-size: .36rem;
}

.seacarh {
    font-size: 0;
    overflow: hidden;
    height: .87rem;
    border-bottom: .01rem solid #333752;
}

.fenlei {
    overflow: hidden;
}

.fenlei>img {
    width: .2rem;
    float: left;
    margin-top: .38rem;
    margin-left: .54rem;
}

.fenlei_1>a {
    float: left;
    font-size: .23rem;
    text-decoration: none;
    color: #ffffff;
    line-height: .87rem;
    margin-left: .09rem;
}

.input_1 {
    float: left;
    width: 4.66rem;
    height: .58rem;
    margin-top: .14rem;
    margin-left: .12rem;
    border-radius: .3rem;
    background-color: #252637;
    border: .01rem solid #51515f;
    background: url('../imgs/yueguan/sousuo@2x.png') no-repeat .1rem .15rem;
    background-size: .3rem;
    text-indent: .5rem;
    font-size: .28rem;
    outline-style: none;
    color: #ffffff;
}

.fenlei_2>img {
    width: .21rem;
    float: left;
    margin-top: .32rem;
    margin-left: .3rem;
}

.fenlei_3>a {
    float: left;
    font-size: .23rem;
    text-decoration: none;
    color: #ffffff;
    line-height: .87rem;
    margin-left: .09rem;
}

.img_ul>li>p {
    color: #ffffff;
    font-size: .26rem;
    margin-left: .58rem;
    /* text-align: center; */
}

.img_ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: .35rem;
}

.img_ul>li>a>img {
    width: 1.72rem;
    margin-left: .15rem;
}

.img_ul>li {
    list-style: none;
    margin-top: .78rem;
    width: 33.33%;
}