* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100px;
}

html,
body {
    width: 100%;
    height: 13.34rem;
    font-family: te;
    background: #252637;
    overflow: hidden;
}

@font-face {
    font-family: te;
    src: url("./../font/PingFang\ Medium.ttf")
}

@font-face {
    font-family: 'te';
    src: url('./../font/PingFang\ Medium.ttf?#font-spider') format('embedded-opentype');
}

.men_body {
    overflow: hidden;
}

.men_top_box {
    margin-top: .6rem;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 1.2rem;
}

.men_top {
    width: .48rem;
    height: .48rem;
    position: absolute;
    top: .6rem;
    left: .2rem;
    /* border: 1px red solid; */
}

.men_top>a>img {
    width: .48rem;
    height: .48rem;
    position: absolute;
    top: .05rem;
    left: 0.03rem;
}

.men_top_p {
    color: #fff;
    font-size: .36rem;
}


/* core1 */

.men_core1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.men_core1_box {
    width: 4rem;
    height: 4rem;
    /* border: 1px red solid; */
}

.core1_img1 {
    width: 2.3rem;
    height: 2.3rem;
    position: absolute;
    margin: 0 auto;
    position: relative;
    top: -2.2rem;
    left: .85rem;
    -webkit-transform: none;
    transform: none;
}

.core1_img2 {
    width: 2.45rem;
    height: 2.45rem;
    border: 1px #EB6877 solid;
    border-radius: 1.225rem;
    position: relative;
    top: .09rem;
    left: .09rem;
}

.core1_img3 {
    width: 2.65rem;
    height: 2.65rem;
    border: 1px #EB6877 solid;
    border-radius: 1.325rem;
    position: relative;
    top: .23rem;
    left: .22rem;
}

.core1_img4 {
    width: 3.14rem;
    height: 3.14rem;
    border: 1px #EB6877 solid;
    border-radius: 1.57rem;
    position: relative;
    top: .53rem;
    left: .44rem;
}

.core1_p1 {
    color: #EB6877;
    font-size: .48rem;
    text-align: center;
}


/* 男 */

.core2_img1 {
    width: 2.3rem;
    height: 2.3rem;
    position: absolute;
    margin: 0 auto;
    position: relative;
    top: .07rem;
    left: .06rem;
}

.core2_img2 {
    width: 2.45rem;
    height: 2.45rem;
    border: 1px #00479D solid;
    border-radius: 1.225rem;
    position: relative;
    top: .1rem;
    left: .09rem;
}

.core2_img3 {
    width: 2.65rem;
    height: 2.65rem;
    border: 1px #00479D solid;
    border-radius: 1.325rem;
    position: relative;
    top: .23rem;
    left: .22rem;
}

.core2_img4 {
    width: 3.14rem;
    height: 3.14rem;
    border: 1px #00479D solid;
    border-radius: 1.57rem;
    position: relative;
    top: .53rem;
    left: .44rem;
}

.core2_p1 {
    color: #00479D;
    font-size: .48rem;
    text-align: center;
}

.men_bottom {
    position: fixed;
    bottom: .27rem;
    font-size: .3rem;
    color: #999999;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

a:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
    background: none;
    text-decoration: none;
}

.bor {
    -webkit-animation: sh 3s linear alternate infinite;
    animation: sh 3s linear alternate infinite;
}

@-webkit-keyframes sh {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    20% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
        opacity: .8;
    }
    40% {
        -webkit-transform: scale(1.08);
        transform: scale(1.08);
        opacity: .6;
    }
    60% {
        -webkit-transform: scale(1.12);
        transform: scale(1.12);
        opacity: .4;
    }
    80% {
        -webkit-transform: scale(1.14);
        transform: scale(1.14);
        opacity: .2;
    }
    100% {
        -webkit-transform: scale(1.16);
        transform: scale(1.16);
        opacity: 0;
    }
}

@keyframes sh {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    20% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
        opacity: .8;
    }
    40% {
        -webkit-transform: scale(1.08);
        transform: scale(1.08);
        opacity: .6;
    }
    60% {
        -webkit-transform: scale(1.12);
        transform: scale(1.12);
        opacity: .4;
    }
    80% {
        -webkit-transform: scale(1.14);
        transform: scale(1.14);
        opacity: .2;
    }
    100% {
        -webkit-transform: scale(1.16);
        transform: scale(1.16);
        opacity: 0;
    }
}